/**
 * @file
 * Block Styling
 */
#block-block-1 {
  overflow: hidden;
}
#block-block-1 a.pn_button {
  margin-top: 3px;
  display: block;
  float: left;
}

#block-fboauth-login, .view-event-members {
  padding: 15px 0 20px 10px;
  clear: both;
}

#block-views-event-members-block-1 {
  clear: both;
}
#block-views-event-members-block-1 ul.event-members {
  clear: both;
}

.view-event-members {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.view-event-members ul.event-members {
  clear: both;
  padding: 0;
  margin: 0 0 1em 0;
}
.view-event-members ul.event-members li {
  list-style-type: none;
}

#block-views-breeds-block {
  clear: both;
}
#block-views-breeds-block ul {
  clear: both;
  padding: 10px 0 0 11px;
  list-style-type: none;
}
