/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
.node p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/*
 * General Pet Nation styles
 */
.dog-photo img, .profile-picture img, .field-type-image img {
  border: 10px solid #fff;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.ds-2col-fluid .group-left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.ds-2col-fluid .group-right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .ds-2col-fluid .group-left, .ds-2col-fluid .group-right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
}

.ds-3col-equal {
  /*
   * Dog Profile node
   */
}
.ds-3col-equal .dog_profile_img_section {
  float: left;
  width: 58.33333%;
  margin-left: 0%;
  margin-right: -58.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.ds-3col-equal .dog_profile_img_section img {
  width: 90%;
}
@media (max-width: 767px) {
  .ds-3col-equal .dog_profile_img_section {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .ds-3col-equal .dog_profile_img_section img {
    width: 96%;
    margin: 0 auto;
  }
  .ds-3col-equal .dog_profile_img_section a {
    text-align: center;
    display: block;
  }
}
.ds-3col-equal .field-name-add-a-photo {
  clear: both;
  padding-top: 0.5em;
}
.ds-3col-equal .field-name-add-a-photo a {
  width: 100px;
  display: block;
  margin: 1.5em auto;
  text-align: center;
}
.ds-3col-equal .field-name-add-a-photo ul {
  padding: 0;
}
.ds-3col-equal .field-name-add-a-photo li {
  list-style-type: none;
}
.ds-3col-equal .dog_profile_stats {
  float: left;
  width: 45.83333%;
  margin-left: 54.16667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .ds-3col-equal .dog_profile_stats {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
    font-size: 0.9em;
  }
}
.ds-3col-equal .dog_profile_large {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
.ds-3col-equal .dog_profile_large .field-name-field-quote {
  background: url(../images/quotes.jpg) no-repeat top left;
  padding: 2em 2em 0 4em;
  text-align: right;
  font-style: italic;
}
@media (max-width: 767px) {
  .ds-3col-equal .dog_profile_large {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
}

/*
 * Event 
 */
.node-pn-event p.submitted {
  color: gray;
  padding: 0 0 10px 10px;
  font-size: 0.9em;
}
.node-pn-event .field-type-image {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.node-pn-event .field-type-image img {
  width: 96%;
}
@media (max-width: 767px) {
  .node-pn-event .field-type-image img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .node-pn-event .field-type-image {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 0.75em;
  }
}
.node-pn-event .field-name-body, .node-pn-event .field-name-field-location, .node-pn-event .field-name-field-geofield {
  margin-top: 1em;
  display: block;
  clear: both;
}
@media (max-width: 767px) {
  .node-pn-event .field-name-body, .node-pn-event .field-name-field-location, .node-pn-event .field-name-field-geofield {
    margin-top: 0.5em;
  }
}
.node-pn-event .field-name-field-geofield {
  padding: 15px 0 0 10px;
}
@media (max-width: 767px) {
  .node-pn-event .field-name-field-geofield {
    padding: 15px 0;
  }
}
.node-pn-event .geolocation-map {
  width: 94% !important;
}
@media (max-width: 767px) {
  .node-pn-event .geolocation-map {
    margin: 0 auto 1em auto;
    width: 96% !important;
  }
}

/*
 * Search page
 */
.search-results {
  padding: 0;
}
.search-results li {
  padding: 0.1em 2em 1em 2em;
}
.search-results li:nth-child(even) {
  background: #e5f3f6;
}
