/**
 * @file
 * Page Styling
 */
/*
 * Body
 */
.container {
  margin: 0 auto;
  *width: 960px;
  max-width: 960px;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 0.9em;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

a {
  color: #008baa;
  text-decoration: none;
}
a:hover {
  color: #00acd3;
}

/*
 * Skip Links
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  background: #be5900;
  padding: 20px 0;
}
@media (max-width: 767px) {
  #header {
    background: #008baa;
  }
  #header img {
    display: block;
    height: 30px;
  }
}
#header a {
  font-weight: 700;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
#header a:hover {
  color: #fff;
}

.header-content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

#site-name {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.region-header {
  clear: both;
}

/*
 * Content
 */
#content {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  #content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

/*
 * Dog Photos Slider
 */
.view-dog-profile-photos {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  margin-top: 40px;
  background: #e5f3f6;
  padding-left: 19px;
}
@media (max-width: 767px) {
  .view-dog-profile-photos {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

ul.photo-album {
  padding: 0;
}
ul.photo-album img {
  border: 5px solid #fff;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul.photo-album li {
  padding-bottom: 20px;
}

.bx-wrapper {
  margin-bottom: 50px;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
@media (max-width: 767px) {
  .bx-wrapper .bx-controls-direction a {
    display: none;
  }
}

.bx-wrapper .bx-prev {
  left: -60px;
}

.bx-wrapper .bx-next {
  right: -50px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #99d0dc;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #00b5dd;
  background: #008baa;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -40px;
}

/*
 * Sidebars
 */
aside.sidebars {
  padding: 1em 2em 5.5em 2em;
  background: url(../images/sidebar-bg.png) left bottom repeat-x #e5f3f6;
  min-height: 400px;
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  aside.sidebars {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
}
aside.sidebars h2 {
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  line-height: 1.3em;
  font-size: 1.4em;
}
aside.sidebars h2.block-title {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
aside.sidebars ul.upcoming-events {
  padding: 0;
}
aside.sidebars ul.upcoming-events p.submitted {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 0;
}
aside.sidebars ul.upcoming-events li {
  list-style-type: none;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
aside.sidebars ul.upcoming-events li.node-readmore {
  padding: 0 0 1em 0;
}
aside.sidebars ul.upcoming-events li .field-name-body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
aside.sidebars ul.upcoming-events .field-items {
  height: 7em;
}

/*
 * Status Messages
 */
div.messages {
  margin: 1.5em 0;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.inline {
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

span.field-label {
  padding: 0 1em 0 0;
}

/*
 * Footer
 */
#footer {
  background: #be5900;
  margin-top: 2em;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
}
#footer a {
  color: #fff;
}
