/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.view-based-map img {
  max-width: none;
}

/* 
 * New Content View - Front-page News Feed 
 * Upcoming Events View - Events page
 */
.view-new-content-view a.pn_button, .view-upcoming-events a.pn_button {
  clear: both;
  float: right;
  margin: 0 auto 1em auto;
  text-align: center;
}
.view-new-content-view span.username, .view-new-content-view span.referenced-dog-profile, .view-new-content-view span.label, .view-upcoming-events span.username, .view-upcoming-events span.referenced-dog-profile, .view-upcoming-events span.label {
  font-weight: 700;
}
.view-new-content-view span.label, .view-upcoming-events span.label {
  clear: both;
}
.view-new-content-view span.front-page-news-date, .view-upcoming-events span.front-page-news-date {
  color: gray;
}
.view-new-content-view ul.front-page, .view-upcoming-events ul.front-page {
  padding: 0;
}
.view-new-content-view ul.front-page li.front-page-news-item, .view-upcoming-events ul.front-page li.front-page-news-item {
  list-style-type: none;
  border-bottom: 1px solid #e5f3f6;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  overflow: hidden;
}
.view-new-content-view ul.front-page li.front-page-news-item:last-child, .view-upcoming-events ul.front-page li.front-page-news-item:last-child {
  border: 0;
}
.view-new-content-view h3.content-title, .view-upcoming-events h3.content-title {
  margin: 0;
  display: block;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
.view-new-content-view h3.event-title, .view-upcoming-events h3.event-title {
  margin: 0 0 0.6em 0;
}
.view-new-content-view .dog-photo, .view-new-content-view .profile-picture, .view-upcoming-events .dog-photo, .view-upcoming-events .profile-picture {
  margin: 1.5em 0;
}
.view-new-content-view .dog-photo, .view-upcoming-events .dog-photo {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .view-new-content-view .dog-photo, .view-upcoming-events .dog-photo {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .view-new-content-view .dog-photo img, .view-upcoming-events .dog-photo img {
    margin: 0 auto;
    display: block;
  }
}
.view-new-content-view .profile-picture, .view-upcoming-events .profile-picture {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .view-new-content-view .profile-picture, .view-upcoming-events .profile-picture {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
.view-new-content-view .profile_stats, .view-upcoming-events .profile_stats {
  float: left;
  width: 58.33333%;
  margin-left: 35.41667%;
  margin-right: -93.75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 1.5em 0;
}
@media (max-width: 767px) {
  .view-new-content-view .profile_stats, .view-upcoming-events .profile_stats {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    padding-top: 0;
  }
}
.view-new-content-view .event-image, .view-upcoming-events .event-image {
  float: left;
  width: 41.66667%;
  margin-left: 0%;
  margin-right: -41.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 1.5em;
}
@media (max-width: 767px) {
  .view-new-content-view .event-image, .view-upcoming-events .event-image {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
.view-new-content-view .event_wrapper, .view-upcoming-events .event_wrapper {
  float: left;
  width: 56.66667%;
  margin-left: 43.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
@media (max-width: 767px) {
  .view-new-content-view .event_wrapper, .view-upcoming-events .event_wrapper {
    margin-top: 0;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
}
