/**
 * @file
 * Block Styling
 */

@import "base";

// Join
#block-block-1 {
  @include clearfix;
  a.pn_button {
    margin-top: 3px;
    display: block;
    float: left;
  }
}
// Facebook and Who's Attending
#block-fboauth-login, .view-event-members {
  padding: 15px 0 20px 10px;
  clear: both;
}
// Who's Attending
#block-views-event-members-block-1 {
  clear: both;
  ul.event-members {
    clear: both;
  }
}
.view-event-members {
  @include zen-grid-item(12,1);
  ul.event-members {
    clear: both;
    padding: 0;
    margin: 0 0 1em 0;
    li {
      list-style-type: none;
    }
  }
}
#block-views-breeds-block {
  ul {
    clear: both;
    padding: 10px 0 0 11px;
    list-style-type: none;
  }
}