/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { 
  p.unpublished {
    @include unpublished-div;
  }
}
/*
 * General Pet Nation styles
 */
.dog-photo, .profile-picture, .field-type-image {
  img {
    border: 10px solid #fff;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}
/*
 * Dog Profile node
 */
.field-name-add-a-photo {
  clear: both;
  padding-top: 0.5em;
  a {
    width: 100px;
    display: block;
    margin: 1.5em auto;
    text-align: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}
.ds-3col-equal {
  .dog_profile_img_section {
    @include zen-grid-item(7,1);
    img {
      width: 90%;
    }
    @include breakpoint($mobile) {
      @include zen-grid-item(12,1);
      img {
        width: 96%;
        margin: 0 auto;
      }
      a {
        text-align: center;
        display: block;
      }
    }
  }
  .dog_profile_stats {
    @include zen-grid-item(5.5,7.5);
    @include breakpoint($mobile) {
      @include zen-grid-item(12,1);
      clear: both;
      font-size: 0.9em;
    }
  }
  .dog_profile_large {
    @include zen-grid-item(12,1);
    clear: both;
    .field-name-field-quote {
      background: url(../images/quotes.jpg) no-repeat top left;
      padding: 2em 2em 0 2em;
      text-align: right;
      font-style: italic;
      @include breakpoint($mobile) {
        padding-left: 4em;
      }
    }
    @include breakpoint($mobile) {
      @include zen-grid-item(12,1);
      clear: both;
    }
  }
}
/*
 * Event 
 */
 .node-pn-event {
  .field-type-image {
    @include zen-grid-item(6,1);
    img {
      width: 90%;
      @include breakpoint($mobile) {
        width: 94%;
      }
    }
    @include breakpoint($mobile) {
      @include zen-grid-item(12,1);
      margin-bottom: 0.75em;
    }
  }
  .field-name-body { 
    margin-top: 3.5em;
    @include breakpoint($mobile) {
      margin-top: 0.5em;
    }
  }
  .field-name-field-date, .field-name-body {
    @include zen-grid-item(6,7);
    @include breakpoint($mobile) {
      @include zen-grid-item(12,1);
      clear: both;
    }
  }
 }