/**
 * @file
 * Page Styling
 */

@import "base";

/*
 * Body
 */
 .container {
	margin: 0 auto;
	*width: 960px;
	max-width: 960px;
	@include zen-grid-container;
 }

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	color: $dark;
	font-size: 0.9em;
}

h1, h2, h3 {
	letter-spacing: -1px;
}
a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: lighten($blue,8%);
	}
}

/*
 * Skip Links
 */
#skip-link {
	margin: 0;
	a,
	a:visited {
		display: block;
		width: 100%;
		padding: 2px 0 3px 0;
		text-align: center;
		background-color: #666;
		color: #fff;
	}
}

/*
 * Header
 */
#header {
	background: $orange;
	padding: 20px 0;
	@include breakpoint($mobile) {
		background: $blue; //remove for production - noproduction
		img {
			display: block;
			height: 30px;
		}
	}
	a {
		font-weight: 700;
		color: #fff;
		color: rgba(#fff,0.8);
		&:hover {
			color: #fff;
		}
	}
}

.header-content {
	@include zen-grid-item(12,1);
}

#site-name {
	// hide accessibly
	@include element-invisible;
}

.region-header { 
	clear: both;
}

/*
 * Content
 */
#content {
	@include zen-grid-item(9,1);
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
	}	
}

/*
 * Dog Photos Slider
 */
.view-dog-profile-photos {
	@include zen-grid-item(10,2);
	clear: both;
	margin-top: 40px;
	background: $lightblue;
	padding-left: 19px;
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
	}
}
ul.photo-album {
	padding: 0;
	img {
		border: 5px solid #fff;
		margin-bottom: 10px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	li {
		padding-bottom: 20px;
	}
}
// bxSlider overrides
.bx-wrapper {
	margin-bottom: 50px;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	@include breakpoint($mobile) {
		display: none;
	}
}
.bx-wrapper .bx-prev {
	left: -60px;
}
.bx-wrapper .bx-next {
	right: -50px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: darken($lightblue,20%);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: lighten($blue,10%);
	background: $blue;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

/*
 * Sidebars
 */
aside.sidebars {
	// Join
	#block-block-1 {
		@include clearfix;
		a.pn_button {
			display: block;
			float: right;
		}
	}
	padding: 1em 2em 5.5em 2em;
	background: url(../images/sidebar-bg.png) left bottom repeat-x $lightblue;
	@include zen-grid-item(3,10);
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
		margin-top: 1.5em;
		clear: both;
	}
	// Events in the Home sidebar
	h2 {
		@include rhythm(0.5);
		line-height: 1.3em;
		font-size: 1.4em;
	}
	h2.block-title {
		@include zen-grid-item(12,1);
	}
	.view-upcoming-events {
		.more-link {
			clear: both;
			font-size: 1.1em;
			a {
				@include zen-grid-item(12,1);
			}
		}
	}
	ul.upcoming-events {
		p.submitted {
			font-size: 0.8em;
			color: lighten($dark,30%);
			margin-bottom: 0;
		}
		padding: 0;
		li {
			list-style-type: none;
			@include zen-grid-item(12,1);
			clear: both;
			&.node-readmore {
				padding: 0 0 1em 0;
			}
			.field-name-body {
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: 0.8em;
				height: 6em;
			}
		}
		header {
			//
		}
		.field-items {
			// height: 7em;
		}
	}
}

/*
 * Status Messages
 */
div.messages {
	margin: 1.5em 0;
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ul.inline {
	display: inline;
	padding: 0;

	li {
		display: inline;
		list-style-type: none;
		padding: 0 1em 0 0;
	}
}
span.field-label {
	padding: 0 1em 0 0;
}


/*
 * Footer
 */
#footer {
	background: $orange;
	margin-top: 2em;
	color: #fff;
	padding: 0.5em 0;
	text-align: center;
	a {
		color: #fff;
	}
}