/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

 .container {
	margin: 0 auto;
	*width: 960px;
	max-width: 960px;
	@include zen-grid-container;
 }

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	color: $dark;
	font-size: 0.9em;
}

h1, h2, h3 {
	letter-spacing: -1px;
}
a {
	color: $blue;
	&:hover {
		color: lighten($blue,8%);
	}
}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
	margin: 0;
	a,
	a:visited {
		display: block;
		width: 100%;
		padding: 2px 0 3px 0;
		text-align: center;
		background-color: #666;
		color: #fff;
	}
}

/*
 * Header
 */
#header {
	background: $orange;
	padding: 20px 0;
	@include breakpoint($mobile) {
		background: $blue; //remove for production - noproduction
		img {
			display: block;
			height: 30px;
		}
	}
	a {
		text-decoration: none;
		font-weight: 700;
		color: #fff;
		color: rgba(#fff,0.8);
		&:hover {
			color: #fff;
		}
	}
}

.header-content {
	@include zen-grid-item(12,1);
}

#site-name {
	// hide accessibly
	@include element-invisible;
}

.region-header { /* Wrapper for any blocks placed in the header region */
	clear: both; /* Clear the logo */
}

/*
 * Content
 */

#content {
	@include zen-grid-item(9,1);
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
	}	
}

/*
 * Dog Photos Slider
 */
.view-dog-profile-photos {
	@include zen-grid-item(10,2);
	clear: both;
	margin-top: 40px;
	background: $lightblue;
	padding-left: 19px;
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
	}
}
ul.photo-album {
	padding: 0;
	img {
		border: 5px solid #fff;
		margin-bottom: 10px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	li {
		padding-bottom: 20px;
	}
}
// bxSlider overrides
.bx-wrapper {
	margin-bottom: 50px;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	@include breakpoint($mobile) {
		display: none;
	}
}
.bx-wrapper .bx-prev {
	left: -60px;
}
.bx-wrapper .bx-next {
	right: -50px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: darken($lightblue,20%);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: lighten($blue,10%);
	background: $blue;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

/*
 * Sidebars
 */
aside.sidebars {
	padding: 1em 2em;
	background: url(../images/sidebar-bg.png) left bottom repeat-x $lightblue;
	min-height: 600px;
	@include zen-grid-item(3,10);
	@include breakpoint($mobile) {
		@include zen-grid-item(12,1);
		clear: both;
	}
}
.region-sidebar-first {
}

.region-sidebar-second {
}

.region-highlighted {
}

.breadcrumb {
	margin-top: 1em;
	ol {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
	margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
	/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
	/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
	margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
	/* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
	/* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
	/* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
	display: inline;
	padding: 0;

	li {
		display: inline;
		list-style-type: none;
		padding: 0 1em 0 0; /* LTR */
	}
}
span.field-label { /* The inline field label used by the Fences module */
	padding: 0 1em 0 0; /* LTR */
}

.item-list {
	// @include cf;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
	padding: 0;

	li { /* Each page number in the pager list */
		padding: 0 0.5em;
	}
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}


/*
 * Footer
 */

#footer {
	background: $orange;
	margin-top: 2em;
	color: #fff;
	padding: 0.5em 0;
	text-align: center;
	a {
		color: #fff;
	}
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
