/**
 * @file
 * Views Styling
 */

@import "base";

/*
 * Views' admin tabs
 */
.views-displays .secondary {
	li {
		float: none;
		margin: 0 6px 0;
	}

	a:link,
	a:visited {
		@include single-text-shadow(none);
		padding: 2px 7px 3px;
	}

	.open > a {
		@include border-radius(7px 7px 0 0);
		&:hover {
			color: #333;
		}
	}

	.action-list li {
		margin: 0;
		&:first-child {
			@include border-radius(0 7px 0 0);
		}
		&:last-child {
			@include border-radius(0 0 7px 7px);
		}
	}
	// close icon fix for IP GeoLoc map rendering Google Map
	div#ip-geoloc-map-of-view-friend_map-block img{
		max-width: none;
	}
}

/* 
 * New Content View - Front-page News Feed 
 */
.view-new-content-view {
	a {
		text-decoration: none;
		text-align: center;
		&.pn_button {
			clear: both;
			float: right;
			margin: 0 auto 1em auto;
		}
	}
	span {
		&.username, &.referenced-dog-profile, &.label {
			font-weight: 700;
		}
		&.label {
			clear: both;
		}
		&.front-page-news-date {
			color: lighten($dark,30%);
		}
	}
	ul.front-page {
		padding: 0;
		li.front-page-news-item {
			list-style-type: none;
			border-bottom: 1px solid $lightblue;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			@include clearfix;
			&:last-child {
				border: 0;
			}
		}
	}
	h3.content-title {
		margin: 0;
		@include zen-grid-item(12,1);
		@include zen-clear;
	}
	.dog-photo, .profile-picture {
		margin: 1.5em 0;
	}
	// Dog Photo
	.dog-photo {
		@include zen-grid-item(8,3);
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
			img {
				margin: 0 auto;
				display: block;
			}
		}
	}
	// Dog Profile 
	.profile-picture {
		@include zen-grid-item(4,1);
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
		}
	}
	.profile_stats {
		@include zen-grid-item(7,5);
		padding: 1.5em 0;
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
			@include zen-clear;
			padding-top: 0;
		}
	}
	// Event
	.event-image {
		@include zen-grid-item(5,1);
		margin-top: 1.5em;
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
		}
	}
	.event_wrapper {
		background: $lightblue;
		@include zen-grid-item(6.75,6.25);
		padding: 1.5em 1.5em 0.5em 1.5em;
		box-sizing: border-box;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		@include breakpoint($mobile) {
			margin-top: 0;
			@include zen-grid-item(12,1);
			@include zen-clear;
		}
	}
}