/**
 * @file
 * Views Styling
 */

@import "base";

/*
 * Views' admin tabs
 */
.views-displays .secondary {
	li {
		float: none;
		margin: 0 6px 0;
	}

	a:link,
	a:visited {
		@include single-text-shadow(none);
		padding: 2px 7px 3px;
	}

	.open > a {
		@include border-radius(7px 7px 0 0);
		&:hover {
			color: #333;
		}
	}

	.action-list li {
		margin: 0;
		&:first-child {
			@include border-radius(0 7px 0 0);
		}
		&:last-child {
			@include border-radius(0 0 7px 7px);
		}
	}
}

// close icon fix for IP GeoLoc map rendering Google Map
.view-based-map img{
	max-width: none;
}

/* 
 * New Content View - Front-page News Feed 
 * Upcoming Events View - Events page
 */
.view-new-content-view, .view-upcoming-events, .view-pn-dog-profiles-list {
	clear: both;
	a {
		&.pn_button {
			clear: both;
			float: right;
			margin: 0 auto 1em auto;
			text-align: center;
		}
	}
	span {
		&.username, &.referenced-dog-profile, &.label {
			font-weight: 700;
		}
		&.label {
			clear: both;
		}
		&.front-page-news-date {
			color: lighten($dark,30%);
		}
	}
	ul.front-page {
		padding: 0;
		margin-top: -2em;
		li.front-page-news-item {
			list-style-type: none;
			border-bottom: 1px solid $lightblue;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			@include clearfix;
			&:last-child {
				border: 0;
			}
		}
	}
	h2.node-title {
		font-size: 1.2em;
		padding-bottom: 7px;
	}
	h3.content-title {
		margin: 0;
		display: block;
		@include zen-grid-item(12,1);
		@include zen-clear;
	}
	h3.event-title {
		margin: 0 0 0.6em 0;
	}
	.dog-photo, .profile-picture {
		margin: 1.5em 0;
	}
	// Dog Photo
	.dog-photo {
		@include zen-grid-item(8,3);
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
			img {
				margin: 0 auto;
				display: block;
			}
		}
	}
	// Dog Profile 
	.profile-picture {
		@include zen-grid-item(4,1);
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
		}
	}
	.profile_stats {
		@include zen-grid-item(7,5.25);
		padding: 1.5em 0;
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
			@include zen-clear;
			padding-top: 0;
		}
	}
	// Event
	.event-image {
		@include zen-grid-item(5,1);
		margin-top: 1.5em;
		@include breakpoint($mobile) {
			@include zen-grid-item(12,1);
		}
	}
	.event_wrapper {
		@include zen-grid-item(6.8,6.2);
		box-sizing: border-box;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		@include breakpoint($mobile) {
			margin-top: 0;
			@include zen-grid-item(12,1);
			@include zen-clear;
		}
	}
}
// Dog Profiles list
.view-pn-dog-profiles-list {
	ul.front-page {
		margin-top: -2.5em;
	}
	.profile_stats {
		// padding-top: 0;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
}
// User page
.view-dog-profiles-by-user {
	.views-row {
		width: 30%;
		margin-right: 3%;
		float: left;
		padding: 12px;
		margin-bottom: 20px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-align: center;
		img {
			margin-bottom: 5px;
		}
		a {
			font-weight: 700;
			color: $dark;
		}
		@include breakpoint($mobile) {
			width: 96%;
			margin: 10px auto 20px auto;
			padding: 20px;
			float: none;
			img {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}
// Breed view 
.page-taxonomy-term {
	.view-dog-profile-photos {
		margin-bottom: 1em;
	}
	li.node-readmore {
		display: block;
		padding-top: 2em;
	}
	a.pn_button {
		margin: 0 auto;
		display: block;
		width: 80px;
		clear: both;
		text-align: center;
	}
}